{% extends "base.html.j2" %}
{% block content %}
  <div class="row row-cols-1 row-cols-sm-2 g-2">
    <ul>
      {% for page in pages %}
        <li>
          <a href="{{ page.url }}">
            {{ page.title }}
          <a>
          &mdash; {{ page.descr }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
