{% extends "base.html.j2" %}
{% block content %}
  <a type="button" class="btn btn-dark btn-lg text-decoration-none" href="https://t.me/s/pythonetc" target="_blank">
    <i class="fa-brands fa-telegram"></i>
    telegram
  </a>
  <a type="button" class="btn btn-dark btn-lg text-decoration-none" href="https://github.com/life4/pythonetc" target="_blank">
    <i class="fa-brands fa-github"></i>
    github
  </a>

  <h2>Categories</h2>
  <ul>
    {% for page in pages %}
      <li>
        <a href="{{ page.url }}">
          {{ page.title }}
        <a>
        &mdash; {{ page.descr }}
      </li>
    {% endfor %}
  </ul>

  <div class="row">
    {% for year, posts in years %}
      <div class="col-md-4">
        <h2>
          {{ year }}
          <span class="text-muted">({{ len(posts) }})</span>
        </h2>
        <ul>
          {% for post in posts %}
            <li>
              <span class="text-muted">
                {{ post.published }}
              </span>
              <a href="{{ post.url }}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

{% endblock %}
