{% extends "base.html.j2" %}
{% block content %}
  <div class="row row-cols-1 row-cols-sm-2 g-2">
    <div class="col">
      <a class="btn btn-dark menu-btn" href="https://t.me/s/pythonetc" target="_blank">telegram</a>
      <a class="btn btn-dark menu-btn" href="posts.html">all posts</a>
      <a class="btn btn-dark menu-btn" href="pythons.html">python changelog</a>
    </div>
  </div>
{% endblock %}
