{% extends "base.html.j2" %}
{% block content %}
  <ul>
    {% for pep in peps %}
      <li>
        <span class="text-muted">
          {{ pep.slug.upper() }}
        </span>
        {% if len(pep.posts) == 1 %}
          <a href="posts/{{ pep.posts[0].slug }}.html">
            {{ pep.title }}
          </a>
        {% else %}
          {{ pep.title }}:
          <ul>
            {% for post in pep.posts %}
              <li>
                <a href="posts/{{ post.slug }}.html">
                  {{ post.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
