{% extends "base.html.j2" %}
{% block content %}
  <ul>
    {% for pep in peps %}
      <li>
        <span class="text-muted">
          {{ pep.slug.upper() }}
        </span>
        {{ pep.title }}
        <ul>
          {% for post in pep.posts %}
            <li>
              <a href="posts/{{ post.slug }}.html">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
