{% extends "base.html.j2" %}
{% block content %}
  <ul>
    {% for post in posts %}
      <li>
        <span class="text-muted">
          {{ post.published }}
        </span>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  <ul>
{% endblock %}
