{% extends "base.html.j2" %}
{% block content %}
  {{ post.html_content }}
  {% for pep in post.peps %}
    <div class="alert alert-info">
      <a href="{{ pep.url }}" target="_blank">
        {{pep.slug.upper()}}: {{ pep.title }}
      <a>
    </div>
  {% endfor %}
  {% if post.python %}
    <div class="alert alert-info">
      <a href="https://docs.python.org/3/whatsnew/{{ post.python }}.html" target="_blank">
        What's New In Python {{ post.python }}
      <a>
    </div>
  {% endif %}
{% endblock %}
