{% extends "base.html.j2" %}
{% block content %}
  {% for python in pythons %}
    <h2>Python {{ python }}</h2>
    <ul>
      {% for post in posts %}
        {% if post.python == python %}
          {% include "_post_line.j2" %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
