{% extends "base.html.j2" %}
{% block content %}
  {% for python in pythons %}
    <h2>Python {{ python }}</h2>
    <ul>
      {% for post in posts %}
        {% if post.python == python %}
          <li>
            <span class="text-muted">
              {{ post.published }}
            </span>
            <a href="posts/{{ post.slug }}.html">
              {{ post.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
