{% extends "base.html.j2" %}
{% block content %}
  <ul>
    {% for module in modules %}
      <li>
        {% if module.root_post %}
          <a href="{{ module.root_post.url }}">
            {{ module.name }}
          </a>
        {% else %}
          {{ module.name }}
        {% endif %}
        {% if module.child_posts %}
          <ul>
            {% for post in module.child_posts %}
              <li>
                <a href="{{ post.url }}">
                  {{ post.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  <ul>
{% endblock %}
