{% extends "base.html.j2" %}
{% block content %}
  <ul>
    {% for post in posts %}
      {% if post.is_typing %}
        {% include "_post_line.j2" %}
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
